@import "../../vars.scss";

.header {
  border-bottom: 2px solid #fff;
  margin-bottom: 70px;
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    padding: 20px 0;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }
  }
  @media (max-width: 600px) {
    margin-bottom: 40px;
  }
}

.set-time {
  display: flex;
  img {
    margin-left: 20px;
    padding: 0 10px;
    @media (max-width: 450px) {
      display: none;
    }
  }
}

.set-times {
  display: flex;
  align-items: center;
  &.active-time {
    visibility: visible;
    background: $SECCOLOR;
    display: flex;
    padding: 10px 30px;
    border-radius: 20px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    & > * {
      display: block;
    }
  }
  .time-var {
    padding: 0px 10px;
    font-size: 20px;
    color: #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    letter-spacing: 1px;
    cursor: pointer;
    @media (max-width: 450px) {
      padding: 0 7px;
      font-size: 18px;
    }
    &:hover {
      background-color: $SECCOLOR;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
    & + .time-var {
      margin-left: 15px;
      @media (max-width: 450px) {
        margin: 0;

      }
    }
  }
}
@media (max-width: 600px) {
  .set-times.active-time {
    padding: 10px;
    position: absolute;
    left: 0;
    top: 13px;
  }

  .logo span {
    display: none;
  }

  .set-time img {
    margin-left: 0;
  }
}

