* {
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
	height: 100vh;
	background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  background: radial-gradient(at center, #ff0173 15%, #2e00ff 96%);
}

.header {
  border-bottom: 2px solid #fff;
  margin-bottom: 70px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.set-time {
  display: flex;
}

.set-time img {
  margin-left: 20px;
  cursor: pointer;
  padding: 0 10px;
}

.set-times {
  //display: none;
  display: flex;
  align-items: center;
}

.set-times.active-time > * {
  display: block;
}

.set-times.active-time {
  visibility: visible;
  background: #ff8100;
  display: flex;
  padding: 10px 30px;
  border-radius: 20px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.time-var {
  padding: 0px 10px;
  font-size: 20px;
  color: #fff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  letter-spacing: 1px;
  cursor: pointer;
}

.time-var:hover {
  background-color: #f5812e;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.time-var + .time-var {
  margin-left: 15px;
}

.logo {
  padding: 20px 0;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 10px;
}

.main-inner {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 100px 100px 100px;
  background-color: rgba(255, 0, 112, 0.5);
  width: 80%;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  &.active {
    animation: maininner-anim 4s linear infinite;
    -webkit-animation: maininner-anim 5s linear infinite;
  }
}
@keyframes maininner-anim {
  25% {
    background-color: rgba(255, 0, 112, 0.2);
  }
  50% {
    background-color: rgba(255, 0, 112, 0.7);
  }
  75% {
    background-color: rgba(255, 0, 112, 0.2);
  }
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.main-nav > * {
  transition: all 0.3s;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  padding: 7px 10px;
  margin: 0 10px;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.main-nav button.active {
  background: rgb(168, 60, 18);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.time {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.time > * {
  font-size: 8em;
  font-weight: 900;
}

.start-btn.active-btn {
  margin-top: 50px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-color: rgb(255, 230, 210);
  color: rgb(221, 99, 0);
  font-size: 30px;
  font-weight: 700;
  border: transparent;
  outline: none;
  padding: 20px 60px;
  cursor: pointer;
  visibility: visible;
}

.start-btn {
  visibility: hidden;
}

@media (max-width: 850px) {
  .main-inner {
    width: 95%;
    padding: 30px 45px 70px 45px;
  }
}

@media (max-width: 600px) {
  .header {
    margin-bottom: 40px;
  }

  .main-nav {
    flex-direction: column;
    width: 100%;
  }

  .main-nav > * {
    width: 100%;
  }

  .time > * {
    font-size: 6em;
  }

  .start-btn.active-btn {
    margin-top: 30px;
  }

  .set-times.active-time {
    padding: 10px;
    position: absolute;
    left: 0;
    top: 13px;
  }

  .time-var + .time-var {
    margin-left: 0px;
  }

  .logo span {
    display: none;
  }

  .set-time img {
    margin-left: 0;
  }
  .container {
    padding: 0 10px;
  }
}
